.intro{
    background: url('../images/blue-fon.webp') center / cover no-repeat;
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        @include media(992){
            flex-direction: column-reverse;   
        }
    }
    &__content{
        width: 50%;
        text-align: right;
        padding-right: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        @include media(992){
            width: 100%;
            padding-right: 0;
            text-align: center;
            align-items: center;
            padding-bottom: 40px;
        }
    }
    &__subtitle{
        font-size: 57px;
        color: #ffffff;
        line-height: 1;
        margin-bottom: 10px;
        z-index: 2;
        @include media(1400){
            font-size: 40px;   
        }
        @include media(992){
            margin-bottom: 20px;   
        }
    }
    &__ribbon{
        background: #FFD700;
        color: #2a3752;
        margin: 0 -40px 10px 0;
        font-size: 64px;    
        padding: 10px 40px 10px 52px;
        position: relative;
        z-index: 1;
        @include media(1400){
            font-size: 48px;   
        }
        @include media(992){
            font-size: 40px;
            padding: 10px 52px 10px 52px;
            margin: 0 0 10px 0;
        }
        &::before {
            content: '';
            position: absolute;
            z-index: 4;
            top: 50%;
            margin: -75px 0 0 0;
            right: 0;
            width: 0;
            height: 0;
            border-top: 75px solid transparent;
            border-right: 30px solid #6bcbf1;
            border-bottom: 75px solid transparent;
            display: none;
            @include media(992){
                display: block;   
            }
        }
        &::after{
            content: '';
            position: absolute;
            z-index: 4;
            top: 50%;
            margin: -75px 0 0 0;
            left: 0;
            width: 0;
            height: 0;
            border-top: 75px solid transparent;
            border-left: 30px solid #6bcbf1;
            border-bottom: 75px solid transparent;
        }
        span{
            font-size: 30px;
            text-decoration: line-through;
            margin-right: 8px;
        }
        &_pink{
            background: #fd5c7c;
            color: #ffffff;
            font-size: 32px;
            margin-bottom: 20px;
            @include media(1400){
                font-size: 26px;   
            }
            @include media(992){
                font-size: 26px;   
                padding: 10px 40px 10px 40px;
                margin-bottom: 20px;
            }
        }
    }
    &__discount{
        font-size: 32px;
        line-height: 1.1;
        color: #FFD700;
        margin-bottom: 10px;
        @include media(992){
            font-size: 26px;
        }
    }
    &__btn{
        background: #9A0081;
        padding: 0.2em 0.85em 0.1em;
        color: #ffffff;
        text-decoration: none;
        line-height: 1.5;
        border-radius: 50px;
        font-family: 'BebasNeueBold', sans-serif;
        box-shadow: 0 1px 0 #860170 inset, 1px 1px 0 #860170, 2px 2px 0 #860170, 3px 3px 0 #860170, 4px 4px 0 #860170, 4px 4px 8px rgba(0, 0, 0, 55%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        z-index: 2;
        margin-top: 10px;
        img{
            max-width: 39px;
            margin-right: 8px;
        }
        span{
            font-size: 20px;
            display: inline-block;
            font-family: sans-serif;
            margin: 0 0 0 8px;
            padding: 5px 0 0 0;
            border: 0;  
            vertical-align: baseline;
        }
    }
    &__title{
        font-size: 48px;
        font-weight: normal;
        line-height: 1.1;
        color: #fff;
        text-align: center;
        padding: 20px 0;
        display: none;
        @include media(992){
            display: block;
        }
        @include media(576){
            font-size: 38px;
        }
    }
    &__img{
        width: 50%;
        line-height: 0;
        @include media(992){
            width: 100%;
            margin-bottom: 20px;
        }
        img{
            width: 100%;
        }
    }
    &__slider{
        max-width: 100%;
        overflow: hidden;
        background-color: #EEF0F4;
        color: #1f1f1f;
        font-size: 20px;
        text-align: center;
        @include media(992){
            font-size: 18px;
        }
        @include media($sm){
            font-size: 14px;
        }
        .swiper-slide{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            font-family: Arial;
            font-weight: 500;
            svg{
                position: static !important;
                @include media($sm){
                    width: 22px !important;        
                }
            }
        }
    }
}