* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    font-family: 'BebasNeueBold';
    &:focus,
    &:active {
        outline: none;
    }
}
body{
    color: #1f1f1f;
}
button {
    font-family: inherit;
    cursor: pointer;
}
input {
    font-family: inherit;
}
a {
    text-decoration: none;
}
.section{
    padding: 75px 0;
    &:nth-child(odd){
        padding: 75px 0;
        @include media(576){
            padding: 20px 0;   
        }
    }
}