mixin advantages()
    .advantages.section
        .advantages__body.container     
            h2.advantages__title Преимущества и особенности 
            .advantages__content
                .advantages__row
                    img(src="images/advantages.webp", alt="").advantages__img
                    .advantages__col
                        ul.advantages__list 
                            li.advantages__li Нужные для сборки инструменты уже в комплекте
                            li.advantages__li Оригинальная русская инструкция в комплекте
                            li.advantages__li Дополнительный силиконовый клей в комплекте
                            li.advantages__li Прозрачный защитный купол в комплекте
                .advantages__row
                    .advantages__col.gray
                        ul.advantages__list 
                            li.advantages__li Светодиодная подсветка интерьера
                            li.advantages__li Материалы: Дерево, хлопок, ткань, бумага
                            li.advantages__li Идеальный подарок для детей от 10 лет
                    img(src="images/advantages-2.webp", alt="").advantages__img
    .recommendation.section
        p.recommendation__title Не пропустите наше специальное предложение!
        a(rel="noopener" href="https://www.wildberries.ru/brands/dixti" onclick="dataLayer.push({'event': 'button1-click'}); return true;" target="_blank").recommendation__btn  ЗАКАЗАТЬ СЕЙЧАС!
    .advantages__items.section
        .advantages__item
            img(src="images/item-1.webp", alt="" width="80px" height="90px").advantages__item-img
            .advantages__item-content 
                p.advantages__item-title БЫСТРАЯ ДОСТАВКА
                p.advantages__item-p Мы ценим Ваше время, поэтому товар будет доставлен в кратчайшие сроки.
        .advantages__item
            img(src="images/item-2.webp", alt="" width="80px" height="90px").advantages__item-img
            .advantages__item-content 
                p.advantages__item-title ГАРАНТИЯ КАЧЕСТВА
                p.advantages__item-p Все продукты нашей торговой проходят строгий контроль качества. Вы будете удовлетворены покупкой.