mixin enter()
    .enter.section 
        .enter__body.container 
            img(src="images/middle.webp", alt="").enter__img
            .enter__content     
                p.enter__cat Реалистичные! 
                    span Румбоксы DIXTI
                .enter__rating 
                    .enter__stars 
                        svg.jq-star-svg(version='1.0' shape-rendering='geometricPrecision' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='25px' height='25px' viewbox='60 -62 309 309' style='enable-background:new 64 -59 305 305; stroke-width:0px;' xml:space='preserve')
                            style(type='text/css').
                                .svg-empty-557{fill:url(#557_SVGID_1_);}.svg-hovered-557{fill:url(#557_SVGID_2_);}.svg-active-557{fill:url(#557_SVGID_3_);}.svg-rated-557{fill:#FFD700;}
                            lineargradient#557_SVGID_1_(gradientunits='userSpaceOnUse' x1='0' y1='-50' x2='0' y2='250')
                                stop(offset='0' style='stop-color:lightgray')
                                stop(offset='1' style='stop-color:lightgray')
                            lineargradient#557_SVGID_2_(gradientunits='userSpaceOnUse' x1='0' y1='-50' x2='0' y2='250')
                                stop(offset='0' style='stop-color:#FFD700')
                                stop(offset='1' style='stop-color:#FFD700')
                            lineargradient#557_SVGID_3_(gradientunits='userSpaceOnUse' x1='0' y1='-50' x2='0' y2='250')
                                stop(offset='0' style='stop-color:#FFD700')
                                stop(offset='1' style='stop-color:#FFD700')
                            polygon.svg-empty-557(data-side='center' points='281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 212.9,181.1 213.9,181 306.5,241 ' style='fill: transparent; stroke: black;')
                            polygon.svg-active-557(data-side='left' points='281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 213.9,181.1 213.9,181 306.5,241 ' style='stroke-opacity: 0;')
                            polygon.svg-active-557(data-side='right' points='364,55.7 255.5,46.8 214,-59 213.9,181 306.5,241 281.1,129.8 ' style='stroke-opacity: 0;')
                        svg.jq-star-svg(version='1.0' shape-rendering='geometricPrecision' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='25px' height='25px' viewbox='60 -62 309 309' style='enable-background:new 64 -59 305 305; stroke-width:0px;' xml:space='preserve')
                            style(type='text/css').
                                .svg-empty-557{fill:url(#557_SVGID_1_);}.svg-hovered-557{fill:url(#557_SVGID_2_);}.svg-active-557{fill:url(#557_SVGID_3_);}.svg-rated-557{fill:#FFD700;}
                            lineargradient#557_SVGID_1_(gradientunits='userSpaceOnUse' x1='0' y1='-50' x2='0' y2='250')
                                stop(offset='0' style='stop-color:lightgray')
                                stop(offset='1' style='stop-color:lightgray')
                            lineargradient#557_SVGID_2_(gradientunits='userSpaceOnUse' x1='0' y1='-50' x2='0' y2='250')
                                stop(offset='0' style='stop-color:#FFD700')
                                stop(offset='1' style='stop-color:#FFD700')
                            lineargradient#557_SVGID_3_(gradientunits='userSpaceOnUse' x1='0' y1='-50' x2='0' y2='250')
                                stop(offset='0' style='stop-color:#FFD700')
                                stop(offset='1' style='stop-color:#FFD700')
                            polygon.svg-empty-557(data-side='center' points='281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 212.9,181.1 213.9,181 306.5,241 ' style='fill: transparent; stroke: black;')
                            polygon.svg-active-557(data-side='left' points='281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 213.9,181.1 213.9,181 306.5,241 ' style='stroke-opacity: 0;')
                            polygon.svg-active-557(data-side='right' points='364,55.7 255.5,46.8 214,-59 213.9,181 306.5,241 281.1,129.8 ' style='stroke-opacity: 0;')
                        svg.jq-star-svg(version='1.0' shape-rendering='geometricPrecision' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='25px' height='25px' viewbox='60 -62 309 309' style='enable-background:new 64 -59 305 305; stroke-width:0px;' xml:space='preserve')
                            style(type='text/css').
                                .svg-empty-557{fill:url(#557_SVGID_1_);}.svg-hovered-557{fill:url(#557_SVGID_2_);}.svg-active-557{fill:url(#557_SVGID_3_);}.svg-rated-557{fill:#FFD700;}
                            lineargradient#557_SVGID_1_(gradientunits='userSpaceOnUse' x1='0' y1='-50' x2='0' y2='250')
                                stop(offset='0' style='stop-color:lightgray')
                                stop(offset='1' style='stop-color:lightgray')
                            lineargradient#557_SVGID_2_(gradientunits='userSpaceOnUse' x1='0' y1='-50' x2='0' y2='250')
                                stop(offset='0' style='stop-color:#FFD700')
                                stop(offset='1' style='stop-color:#FFD700')
                            lineargradient#557_SVGID_3_(gradientunits='userSpaceOnUse' x1='0' y1='-50' x2='0' y2='250')
                                stop(offset='0' style='stop-color:#FFD700')
                                stop(offset='1' style='stop-color:#FFD700')
                            polygon.svg-empty-557(data-side='center' points='281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 212.9,181.1 213.9,181 306.5,241 ' style='fill: transparent; stroke: black;')
                            polygon.svg-active-557(data-side='left' points='281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 213.9,181.1 213.9,181 306.5,241 ' style='stroke-opacity: 0;')
                            polygon.svg-active-557(data-side='right' points='364,55.7 255.5,46.8 214,-59 213.9,181 306.5,241 281.1,129.8 ' style='stroke-opacity: 0;')
                        svg.jq-star-svg(version='1.0' shape-rendering='geometricPrecision' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='25px' height='25px' viewbox='60 -62 309 309' style='enable-background:new 64 -59 305 305; stroke-width:0px;' xml:space='preserve')
                            style(type='text/css').
                                .svg-empty-557{fill:url(#557_SVGID_1_);}.svg-hovered-557{fill:url(#557_SVGID_2_);}.svg-active-557{fill:url(#557_SVGID_3_);}.svg-rated-557{fill:#FFD700;}
                            lineargradient#557_SVGID_1_(gradientunits='userSpaceOnUse' x1='0' y1='-50' x2='0' y2='250')
                                stop(offset='0' style='stop-color:lightgray')
                                stop(offset='1' style='stop-color:lightgray')
                            lineargradient#557_SVGID_2_(gradientunits='userSpaceOnUse' x1='0' y1='-50' x2='0' y2='250')
                                stop(offset='0' style='stop-color:#FFD700')
                                stop(offset='1' style='stop-color:#FFD700')
                            lineargradient#557_SVGID_3_(gradientunits='userSpaceOnUse' x1='0' y1='-50' x2='0' y2='250')
                                stop(offset='0' style='stop-color:#FFD700')
                                stop(offset='1' style='stop-color:#FFD700')
                            polygon.svg-empty-557(data-side='center' points='281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 212.9,181.1 213.9,181 306.5,241 ' style='fill: transparent; stroke: black;')
                            polygon.svg-active-557(data-side='left' points='281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 213.9,181.1 213.9,181 306.5,241 ' style='stroke-opacity: 0;')
                            polygon.svg-active-557(data-side='right' points='364,55.7 255.5,46.8 214,-59 213.9,181 306.5,241 281.1,129.8 ' style='stroke-opacity: 0;')
                        svg.jq-star-svg(version='1.0' shape-rendering='geometricPrecision' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='25px' height='25px' viewbox='60 -62 309 309' style='enable-background:new 64 -59 305 305; stroke-width:0px;' xml:space='preserve')
                            style(type='text/css').
                                .svg-empty-557{fill:url(#557_SVGID_1_);}.svg-hovered-557{fill:url(#557_SVGID_2_);}.svg-active-557{fill:url(#557_SVGID_3_);}.svg-rated-557{fill:#FFD700;}
                            lineargradient#557_SVGID_1_(gradientunits='userSpaceOnUse' x1='0' y1='-50' x2='0' y2='250')
                                stop(offset='0' style='stop-color:lightgray')
                                stop(offset='1' style='stop-color:lightgray')
                            lineargradient#557_SVGID_2_(gradientunits='userSpaceOnUse' x1='0' y1='-50' x2='0' y2='250')
                                stop(offset='0' style='stop-color:#FFD700')
                                stop(offset='1' style='stop-color:#FFD700')
                            lineargradient#557_SVGID_3_(gradientunits='userSpaceOnUse' x1='0' y1='-50' x2='0' y2='250')
                                stop(offset='0' style='stop-color:#FFD700')
                                stop(offset='1' style='stop-color:#FFD700')
                            polygon.svg-empty-557(data-side='center' points='281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 212.9,181.1 213.9,181 306.5,241 ' style='fill: transparent; stroke: black;')
                            polygon.svg-active-557(data-side='left' points='281.1,129.8 364,55.7 255.5,46.8 214,-59 172.5,46.8 64,55.4 146.8,129.7 121.1,241 213.9,181.1 213.9,181 306.5,241 ' style='stroke-opacity: 0;')
                            polygon.svg-empty-557(data-side='right' points='364,55.7 255.5,46.8 214,-59 213.9,181 306.5,241 281.1,129.8 ' style='stroke-opacity: 0;')
                    p.enter__rating-p 1413 Рейтинг покупателей
                h2.enter__title Пусть ваш маленький дизайнер создаст свой первый интерьер! 
                p.enter__desc Создайте интерьер своими руками вместе со своим маленьким дизайнером! Интерьерный конструктор DIXTI позволяет ребёнку самостоятельно принимать решения и развивать воображение. Яркие цвета, натуральные материалы и уютная подстветка обязательно привлекут внимание любого ребенка.
                .enter__list 
                    p.enter__list-title Пять убедительных свойств:
                    ul.enter__list-content 
                        li.enter__list-li 
                            span Отвлекает ребенка от Интернета, а вас от стресса;
                        li.enter__list-li 
                            span Развивает мелкую моторику;
                        li.enter__list-li 
                            span Натуральные материалы;
                        li.enter__list-li 
                            span Пять разных моделей на любой вкус и цвет;
                        li.enter__list-li 
                            span Подходит не только для детей;
                .enter__bot
                    svg#Capa_1(style='width: 24px; height: 24px; margin-right: 5px; position: relative; bottom: -0px;' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' xml:space='preserve')
                        path(style='fill:#FF8C78;' d='M395.738,167.413c-2.733-4.112-8.728-4.749-12.26-1.289l-36.666,35.887L263.369,4.783 c-2.622-6.195-11.637-6.43-14.572-0.367L132.114,245.56l-42.551-18.414c-3.926-1.7-8.496-0.009-10.371,3.837 c-15.414,31.627-23.231,58.872-23.231,80.978C55.961,422.263,145.699,512,256,512s200.039-89.738,200.039-200.039 C456.039,276.251,435.751,227.619,395.738,167.413z')
                        path(style='fill:#DB6B5E;' d='M280.005,503.999c-110.302,0-200.039-89.738-200.039-200.039c0-20.13,6.503-44.533,19.302-72.613 l-9.704-4.199c-3.926-1.7-8.496-0.009-10.371,3.837c-15.415,31.626-23.232,58.87-23.232,80.977C55.961,422.263,145.699,512,256,512 c26.496,0,51.8-5.191,74.964-14.588C314.688,501.702,297.61,503.999,280.005,503.999z')
                        path(style='fill:#FFC44F;' d='M262.583,139.38c-3.128-4.527-10.04-4.527-13.168,0c-4.632,6.705-113.439,164.96-113.439,228.592 c0,66.181,53.843,120.023,120.023,120.023s120.023-53.843,120.023-120.023C376.024,304.341,267.215,146.086,262.583,139.38z')
                        path(style='fill:#F79F4D;' d='M272.003,479.994c-66.181,0-120.023-53.842-120.023-120.023c0-57.239,88.03-191.023,109.091-222.209 c-3.473-2.811-8.963-2.276-11.654,1.619c-4.633,6.705-113.44,164.96-113.44,228.592c0,66.181,53.843,120.023,120.023,120.023 c22.405,0,43.392-6.177,61.358-16.908C303.357,476.822,288.044,479.994,272.003,479.994z')
                        path(style='fill:#8E959F;' d='M256,287.957c-48.532,0-88.017,39.485-88.017,88.017s39.485,88.017,88.017,88.017 s88.017-39.485,88.017-88.017S304.533,287.957,256,287.957z')
                        path(style='fill:#ECEDEF;' d='M256,303.96c-39.709,0-72.014,32.305-72.014,72.014s32.305,72.014,72.014,72.014 s72.014-32.305,72.014-72.014S295.709,303.96,256,303.96z')
                        g
                        path(style='fill:#8E959F;' d='M256,287.957c-2.698,0-5.365,0.129-8.002,0.367v31.639c0,4.419,3.583,8.002,8.002,8.002 c4.419,0,8.002-3.583,8.002-8.002v-31.639C261.365,288.085,258.698,287.957,256,287.957z')
                        path(style='fill:#8E959F;' d='M167.983,375.974c0,2.698,0.129,5.365,0.367,8.002h31.639c4.419,0,8.002-3.583,8.002-8.002 c0-4.419-3.583-8.002-8.002-8.002H168.35C168.112,370.608,167.983,373.275,167.983,375.974z')
                        path(style='fill:#8E959F;' d='M256,463.991c2.698,0,5.365-0.129,8.002-0.367v-31.639c0-4.419-3.583-8.002-8.002-8.002 c-4.419,0-8.002,3.583-8.002,8.002v31.639C250.635,463.862,253.303,463.991,256,463.991z')
                        path(style='fill:#8E959F;' d='M344.017,375.974c0-2.698-0.129-5.365-0.367-8.002h-31.639c-4.419,0-8.002,3.583-8.002,8.002 c0,4.419,3.583,8.002,8.002,8.002h31.639C343.888,381.339,344.017,378.671,344.017,375.974z')
                        path(style='fill:#DB6B5E;' d='M255.994,391.977c-1.528,0-3.072-0.437-4.433-1.344l-24.005-16.003 c-3.677-2.451-4.671-7.418-2.219-11.096c2.451-3.678,7.419-4.671,11.096-2.219l17.706,11.804l19.464-25.95 c2.651-3.536,7.667-4.253,11.202-1.6c3.536,2.652,4.252,7.667,1.6,11.202l-24.005,32.006 C260.835,390.865,258.433,391.977,255.994,391.977z')
                        g  
                        g  
                        g  
                        g  
                        g  
                        g  
                        g  
                        g  
                        g  
                        g  
                        g  
                        g  
                        g  
                        g  
                        g  
                    | Всего 
                    font(color='#d10039')
                        span.stock_left 7
                    |  штук в наличии.
                    br
                    |  Ожидается, что товар будет распродан в течении 24 часов.
                a(href="https://www.wildberries.ru/brands/dixti" rel="noopener" onclick="dataLayer.push({'event': 'button1-click'}); return true;" target="_blank").enter__btn Закажи сейчас и сэкономь 48% ! 

