mixin faq()
    .faq.section.gray
        .faq__body.container 
            h2.faq__title FAQ – Часто задаваемые вопросы
            .faq__content 
                .faq__col
                    .faq__item
                        .faq__item-header 
                            .faq__item-dot 
                            p.faq__item-header-title Сколько стоит доставка?
                        p.faq__item-desc Отправляем посылки бесплатно, в зависимости от удалённости.
                    .faq__item
                        .faq__item-header 
                            .faq__item-dot 
                            p.faq__item-header-title Какие существуют варианты оплаты?
                        p.faq__item-desc Вы можете оплатить картой при заказе, картой или наличными при получении.
                    .faq__item
                        .faq__item-header 
                            .faq__item-dot 
                            p.faq__item-header-title Когда я получу свою посылку?
                        p.faq__item-desc Посылка будет доставлена ​​в течение 2-3 рабочих дней.
                .faq__col
                    .faq__item
                        .faq__item-header 
                            .faq__item-dot 
                            p.faq__item-header-title Кто отвечает за доставку?
                        p.faq__item-desc Почта или Курьерская служба позаботится о доставке. Перед доставкой вы получите уведомление.
                    .faq__item
                        .faq__item-header 
                            .faq__item-dot 
                            p.faq__item-header-title Могу ли я вернуть свою посылку?
                        p.faq__item-desc Естественно. Отправьте нам товар обратно, и мы вернем вам деньги.
                    .faq__item
                        .faq__item-header 
                            .faq__item-dot 
                            p.faq__item-header-title Что означает 100% гарантия?
                        p.faq__item-desc Если вы не удовлетворены нашим товаром, мы вернем деньги - без вопросов!
    .badge.section.grey  
        .badge__item
            img(src="images/badge-1.webp", alt="")
        .badge__item
            img(src="images/badge-2.webp", alt="")
        .badge__item
            img(src="images/badge-3.webp", alt="")
        .badge__item
            img(src="images/badge-4.webp", alt="")
        .badge__item
            img(src="images/badge-5.webp", alt="")
        .badge__item
            img(src="images/badge-6.webp", alt="")

