mixin footer()
    footer.footer.section
        .footer__body.container 
            p.footer__p  Изображения символичны. Провайдер оставляет за собой право делать орфографические ошибки.
            p.footer__req ©2020 Пользовательское соглашение
