mixin header()
    header.header 
        a(href="https://www.wildberries.ru/brands/dixti" onclick="dataLayer.push({'event': 'button1-click'}); return true;" target="_blank").header__logo
            img(src="images/logo.webp", alt="")