mixin header()
    header.header 
        a(rel="noopener" href="https://www.wildberries.ru/brands/dixti" onclick="dataLayer.push({'event': 'button1-click'}); return true;" target="_blank" title="home" role="link").header__logo
            img(src="images/logo.webp", alt="")