mixin products()
    .products.section  
        h1.products__title Выбери набор для своего юного архитектора
        .products__content.container
            .products__item(data-discount="-48%")
                .products__item-slider.swiper 
                    .swiper-wrapper
                        .swiper-slide
                            img(src="images/slide-1-1.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-1-2.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-1-3.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-1-4.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-1-5.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-1-6.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-1-7.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-1-8.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                .products__item-row
                    .products__item-content
                        p.products__item-title "Солнечный Майами"
                        p.products__item-price 2990 р
                    a(href="https://www.wildberries.ru/brands/dixti" rel="noopener" onclick="dataLayer.push({'event': 'button1-click'}); return true;" target="_blank").products__item-btn ЗАКАЗАТЬ СЕЙЧАС
            .products__item(data-discount="-48%")
                .products__item-slider.swiper 
                    .swiper-wrapper
                        .swiper-slide
                            img(src="images/slide-2-1.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-2-2.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-2-3.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-2-4.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-2-5.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-2-6.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-2-7.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-2-8.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                .products__item-row
                    .products__item-content
                        p.products__item-title "Солнечный Майами"
                        p.products__item-price 2990 р
                    a(href="https://www.wildberries.ru/brands/dixti" rel="noopener" onclick="dataLayer.push({'event': 'button1-click'}); return true;" target="_blank").products__item-btn ЗАКАЗАТЬ СЕЙЧАС
            .products__item(data-discount="-48%")
                .products__item-slider.swiper 
                    .swiper-wrapper
                        .swiper-slide
                            img(src="images/slide-3-1.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-3-2.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-3-3.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-3-4.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-3-5.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-3-6.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-3-7.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-3-8.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                .products__item-row
                    .products__item-content
                        p.products__item-title "Солнечный Майами"
                        p.products__item-price 2990 р
                    a(href="https://www.wildberries.ru/brands/dixti" rel="noopener" onclick="dataLayer.push({'event': 'button1-click'}); return true;" target="_blank").products__item-btn ЗАКАЗАТЬ СЕЙЧАС
            .products__item(data-discount="-48%")
                .products__item-slider.swiper 
                    .swiper-wrapper
                        .swiper-slide
                            img(src="images/slide-4-1.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-4-2.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-4-3.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-4-4.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-4-5.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-4-6.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-4-7.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-4-8.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                .products__item-row
                    .products__item-content
                        p.products__item-title "Солнечный Майами"
                        p.products__item-price 2990 р
                    a(href="https://www.wildberries.ru/brands/dixti" rel="noopener" onclick="dataLayer.push({'event': 'button1-click'}); return true;" target="_blank").products__item-btn ЗАКАЗАТЬ СЕЙЧАС
            .products__item(data-discount="-48%")
                .products__item-slider.swiper 
                    .swiper-wrapper
                        .swiper-slide
                            img(src="images/slide-5-1.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-5-2.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-5-3.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-5-4.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-5-5.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-5-6.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-5-7.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-5-8.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                .products__item-row
                    .products__item-content
                        p.products__item-title "Солнечный Майами"
                        p.products__item-price 2990 р
                    a(href="https://www.wildberries.ru/brands/dixti" rel="noopener" onclick="dataLayer.push({'event': 'button1-click'}); return true;" target="_blank").products__item-btn ЗАКАЗАТЬ СЕЙЧАС
            .products__item(data-discount="-48%")
                .products__item-slider.swiper 
                    .swiper-wrapper
                        .swiper-slide
                            img(src="images/slide-1-1.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-1-2.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-1-3.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-1-4.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-1-5.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-1-6.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-1-7.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-1-8.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                .products__item-row
                    .products__item-content
                        p.products__item-title "Солнечный Майами"
                        p.products__item-price 2990 р
                    a(href="https://www.wildberries.ru/brands/dixti" rel="noopener" onclick="dataLayer.push({'event': 'button1-click'}); return true;" target="_blank").products__item-btn ЗАКАЗАТЬ СЕЙЧАС
            .products__item(data-discount="-48%")
                .products__item-slider.swiper 
                    .swiper-wrapper
                        .swiper-slide
                            img(src="images/slide-2-1.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-2-2.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-2-3.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-2-4.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-2-5.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-2-6.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-2-7.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-2-8.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                .products__item-row
                    .products__item-content
                        p.products__item-title "Солнечный Майами"
                        p.products__item-price 2990 р
                    a(href="https://www.wildberries.ru/brands/dixti" rel="noopener" onclick="dataLayer.push({'event': 'button1-click'}); return true;" target="_blank").products__item-btn ЗАКАЗАТЬ СЕЙЧАС
            .products__item(data-discount="-48%")
                .products__item-slider.swiper 
                    .swiper-wrapper
                        .swiper-slide
                            img(src="images/slide-3-1.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-3-2.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-3-3.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-3-4.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-3-5.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-3-6.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-3-7.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-3-8.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                .products__item-row
                    .products__item-content
                        p.products__item-title "Солнечный Майами"
                        p.products__item-price 2990 р
                    a(href="https://www.wildberries.ru/brands/dixti" rel="noopener" onclick="dataLayer.push({'event': 'button1-click'}); return true;" target="_blank").products__item-btn ЗАКАЗАТЬ СЕЙЧАС
            .products__item(data-discount="-48%")
                .products__item-slider.swiper 
                    .swiper-wrapper
                        .swiper-slide
                            img(src="images/slide-4-1.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-4-2.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-4-3.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-4-4.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-4-5.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-4-6.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-4-7.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-4-8.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                .products__item-row
                    .products__item-content
                        p.products__item-title "Солнечный Майами"
                        p.products__item-price 2990 р
                    a(href="https://www.wildberries.ru/brands/dixti" rel="noopener" onclick="dataLayer.push({'event': 'button1-click'}); return true;" target="_blank").products__item-btn ЗАКАЗАТЬ СЕЙЧАС
            .products__item(data-discount="-48%")
                .products__item-slider.swiper 
                    .swiper-wrapper
                        .swiper-slide
                            img(src="images/slide-5-1.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-5-2.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-5-3.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-5-4.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-5-5.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-5-6.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-5-7.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                        .swiper-slide
                            img(src="images/slide-5-8.webp", alt="").swiper-lazy
                            .swiper-lazy-preloader
                .products__item-row
                    .products__item-content
                        p.products__item-title "Солнечный Майами"
                        p.products__item-price 2990 р
                    a(href="https://www.wildberries.ru/brands/dixti" rel="noopener" onclick="dataLayer.push({'event': 'button1-click'}); return true;" target="_blank").products__item-btn ЗАКАЗАТЬ СЕЙЧАС