mixin reviews()
    .reviews.section 
        .reviews__slider
            span.quote.quote_left
                img(src='images/quote-left.webp' alt='')
            span.quote.quote_right
                img(src='images/quote-right.webp' alt='')
            .swiper.reviews__slider-body 
                .swiper-wrapper 
                    .swiper-slide 
                        .sm-testimonial-slide-wrapper
                            .sm-testimonial-slide-head
                                .sm-testimonial-slide-sm-clearfix
                                .sm-testimonial-slide-head-left
                                    | Commented on 
                                    span DIXTI
                                    | 's public 
                                    span post
                                .sm-testimonial-slide-head-right
                                    i.sm-testimonial-slide-sm-icon
                            .sm-testimonial-slide-body
                                .sm-testimonial-slide-sm-clearfix
                                img.sm-testimonial-slide-img(src='images/reviews.webp' alt='')
                                .sm-testimonial-slide-body-right
                                    .sm-testimonial-slide-body-right-first
                                        span Никита Долгих
                                        |   Это было круто! Я его сам собрал! Дайте два! )))
                                    .sm-testimonial-slide-body-right-second
                                    i.sm-testimonial-slide-body-right-second-like-icon
                                    span 172
                                    span(role='presentation' aria-hidden='true')  &middot; 
                                    span.sm-testimonial-slide-body-right-second-timestamp about 3 hours ago
                    .swiper-slide 
                        .sm-testimonial-slide-wrapper
                            .sm-testimonial-slide-head
                                .sm-testimonial-slide-sm-clearfix
                                .sm-testimonial-slide-head-left
                                    | Commented on 
                                    span DIXTI
                                    | 's public 
                                    span post
                                .sm-testimonial-slide-head-right
                                    i.sm-testimonial-slide-sm-icon
                            .sm-testimonial-slide-body
                                .sm-testimonial-slide-sm-clearfix
                                img.sm-testimonial-slide-img(src='images/reviews.webp' alt='')
                                .sm-testimonial-slide-body-right
                                    .sm-testimonial-slide-body-right-first
                                        span Никита Долгих
                                        |   Это было круто! Я его сам собрал! Дайте два! )))
                                    .sm-testimonial-slide-body-right-second
                                    i.sm-testimonial-slide-body-right-second-like-icon
                                    span 172
                                    span(role='presentation' aria-hidden='true')  &middot; 
                                    span.sm-testimonial-slide-body-right-second-timestamp about 3 hours ago
                    .swiper-slide 
                        .sm-testimonial-slide-wrapper
                            .sm-testimonial-slide-head
                                .sm-testimonial-slide-sm-clearfix
                                .sm-testimonial-slide-head-left
                                    | Commented on 
                                    span DIXTI
                                    | 's public 
                                    span post
                                .sm-testimonial-slide-head-right
                                    i.sm-testimonial-slide-sm-icon
                            .sm-testimonial-slide-body
                                .sm-testimonial-slide-sm-clearfix
                                img.sm-testimonial-slide-img(src='images/reviews.webp' alt='')
                                .sm-testimonial-slide-body-right
                                    .sm-testimonial-slide-body-right-first
                                        span Никита Долгих
                                        |   Это было круто! Я его сам собрал! Дайте два! )))
                                    .sm-testimonial-slide-body-right-second
                                    i.sm-testimonial-slide-body-right-second-like-icon
                                    span 172
                                    span(role='presentation' aria-hidden='true')  &middot; 
                                    span.sm-testimonial-slide-body-right-second-timestamp about 3 hours ago
        img(src="images/ico-users.webp", alt="").reviews-img
    .section.pb-0.pt-0.gray
        .video_wrap
            img(src='images/comp.webp' alt='')
            .video
                iframe(title="video" width='640' height='360' src='https://www.youtube.com/embed/Rw38rvP3azM' srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/Rw38rvP3azM?autoplay=1><img src=https://img.youtube.com/vi/Rw38rvP3azM/hqdefault.jpg alt='Video'><span>▶</span></a>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
