doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="description")
        title Document
        link(rel="stylesheet" href="styles/slider.css")
        link(rel="stylesheet" href="styles/index.css")
    body 
        include components/header.pug 
        +header
        include components/intro.pug 
        +intro
        include components/enter.pug 
        +enter
        include components/products.pug 
        +products
        include components/advantages.pug 
        +advantages
        include components/reviews.pug 
        +reviews
        include components/faq.pug 
        +faq
        include components/footer.pug 
        +footer
        script(src="widget-trust/XD9852F6BF8085F60015C2C1602E8CA38.js") 
        script(src="scripts/slider.js") 
        script(src="scripts/index.js") 